{% extends "base.html" %}

{% load markup %}


{% block content %}
<article>
    <section>
        <span title="Назад к списку"><a href="{% url 'issue_list' %}">&lt;&lt;</a></span>
        <h3>{{ issue.title }}</h3>
        <div style="float: right; margin-right: 10px; font-size: small;">
            {{ issue.created_ts|date:"d b Y" }}
            <a href="{% url 'admin:django_issues_issue_edit' pk=issue.id %}">править</a>
        </div>

        <p>Автор: {{ issue.author.get_full_name }}</p>
        <p>Статус: {{ issue.get_status_display }}</p>
        <p>Приоритет: {{ issue.get_priority_display }}</p>
        <p>Создана: {{ issue.created_ts }}</p>

        <div class="markdown">{{ issue.description|markdown }}</div>
    </section>

    <section>
        <h4>
            Комментарии
            <a href="#" onclick="$('#new-comment').slideToggle(); return false;" title="Прокомментировать">+1</a>
        </h4>
        <div id="new-comment">
            <form action="{% url 'django_issues.views.post_comment' pk=issue.id %}" method="post">{% csrf_token %}
                {{ new_comment_form }}
                <input type="submit" value="Записать" />
            </form>
        </div>
        {% for comment in issue.comments.all %}
            <div class="comment">
                {{ comment.author.get_full_name }}
                {{ comment.created_ts|date:"d b Y" }}
                {{ comment.created_ts|time:"H:i" }}<br/>
                <div class="markdown">{{ comment.text|markdown }}</div>
            </div>
        {% else %}
            Нет комментариев
        {% endfor %}
    </section>
</article>
{% endblock %}
