{% extends "base.html" %}


{% block content %}
<ul class="nav nav-pills">
    <li role="presentation">Задачи по сайту</li>
    <li role="presentation">
        <a href="{% url 'admin:django_issues_issue_add' %}" title="Добавить задачу">+1</a>
    </li>
</ul>

<article>
    {% if search_form %}
        <div style="float:right">
            <form action="{% url 'issue_search' %}" method="post">{% csrf_token %}
                {{ search_form }}
                <input type="button" value="go"/>
            </form>
        </div>
    {% endif %}

    <h4>Открытые ({{ issues.opened.count }} шт)</h4>

    <table>
        <thead>
            <tr>
                <th>Создано</th>
                <th>Заголовок</th>
                <th>Автор</th>
                <th>Исполнитель</th>
                <th>Статус</th>
                <th>Приоритет</th>
                <th>Обновлено</th>
            </tr>
        </thead>

        <tbody>
            {% for issue in issues.opened %}
                <tr class="{{ issue.priority }} {{ issue.status }}">
                    <td>{{ issue.created_ts|date:"d b Y" }}</td>
                    <td><a href="{% url 'issue_detail' pk=issue.id %}">{{ issue.title }}</a></td>
                    <td>{{ issue.author.get_full_name }}</td>
                    <td>{{ issue.assigned_to.get_full_name }}</td>
                    <td>{{ issue.get_status_display }}</td>
                    <td>{{ issue.get_priority_display }}</td>
                    <td>{{ issue.modified_ts|date:"d b Y" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <h4>Закрытые (последние 20 задач из {{ issues.done.count }} шт)
        <a href="#" class="more-toggler" onclick="$('.closed-issues').toggle(); return false;">показать</a>
    </h4>

    <section class="closed-issues">
        <table>
            <thead>
                <tr>
                    <th>Создано</th>
                    <th>Заголовок</th>
                    <th>Автор</th>
                    <th>Исполнитель</th>
                    <th>Статус</th>
                    <th>Приоритет</th>
                    <th>Обновлено</th>
                </tr>
            </thead>

            <tbody>
                {% for issue in issues.done|slice:":20" %}
                    <tr class="{{ issue.status }}">
                        <td>{{ issue.created_ts|date:"d b Y" }}</td>
                        <td><a href="{% url 'issue_detail' pk=issue.id %}">{{ issue.title }}</a></td>
                        <td>{{ issue.author.get_full_name }}</td>
                        <td>{{ issue.assigned_to.get_full_name }}</td>
                        <td>{{ issue.get_status_display }}</td>
                        <td>{{ issue.get_priority_display }}</td>
                        <td>{{ issue.modified_ts|date:"d b Y" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</article>
{% endblock %}
