<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://yastatic.net/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://yastatic.net/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://yastatic.net/jquery/2.2.0/jquery.min.js"></script>

    <style type="text/css">
        .critical {
            background-color: #ffb6c0;
        }
        .high {
            background-color: #ffe298;
        }
        .normal {
            background-color: #c8ffbb;
        }
        .low {
            background-color: #eaffaf;
        }
        .queried {
            background-color: #fefdff;
        }
        .rejected {
            text-decoration: line-through;
        }
        .rejected:hover {
            text-decoration: none;
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    <header></header>
    {% block content %}{% endblock %}
    <footer></footer>
</body>
</html>
